*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
  border: 2px dotted grey;
}

#primapagina{
  background-color: cadetblue;
  /* ALTEZZA DA TOGLIERE */
  height: 625px;
}

#primapagina header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border: 5px dotted orange;
}

#primapagina .jumbotron{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 5px dotted red;
  height: 100%;
}

#primapagina .jumbotron p{
  width: 70%;
}

section:nth-child(even){
  background-color: white;
  /* ALTEZZA DA TOGLIERE */
  height: 1000px;
}

section:nth-child(odd){
  background-color: lightgrey;
  /* ALTEZZA DA TOGLIERE */
  height: 1000px;
}

footer{
  background-color: #23272A;
  /* ALTEZZA DA TOGLIERE */
  height: 625px;
}

ul{
  list-style: none;
}