*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
  border: 5px dotted grey;
}

#primapagina{
  background-color: cadetblue;
  /* ALTEZZA DA TOGLIERE */
  height: 625px;
}

#primapagina header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border: 5px dotted orange;
}

#primapagina .jumbotron{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 5px dotted red;
  /* ALTEZZA DA TOGLIERE */
  height: 545px;
}

#primapagina .jumbotron p{
  width: 70%;
}

section:nth-child(even){
  /* ALTEZZA DA TOGLIERE */
  height: 1000px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

section:nth-child(even) .imgsx{
  display: flex;
  justify-content: space-between;
}

section:nth-child(even) .text-content{
  border: 5px dotted green;
  padding-left: 20%;
}

section:nth-child(even) .img{
  /* DIMENSIONI DA TOGLIERE */
  width: 670px;
  height: 400px;
  flex-shrink: 0;
  background-color: rgba(0, 0, 255, .2);
}

section:nth-child(odd){
  background-color: lightgrey;
  /* ALTEZZA DA TOGLIERE */
  height: 1000px;
}

footer{
  background-color: #23272A;
  /* ALTEZZA DA TOGLIERE */
  height: 625px;
}

ul{
  list-style: none;
}